<a href="https://colab.research.google.com/github/joykiriba/Electric-car-sharing-project/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_04_Joy_Kiriba_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON PROGRAMMING

# Overview
### Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
### What is the most popular hour for returning cars?

### What station is the most popular? Overall? At the most popular picking hour?

### What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code? Overall? At the most popular picking hour?

### Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars?

## 1.0 Importing Our Libraries

In [ ]:
# import panda libraries

import pandas as pd

# import numpy libraries
 
import numpy as np

## 1.1 Reading the Dataset from our CSV File 
## http://bit.ly/autolib_dataset
## https://drive.google.com/a/moringaschool.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view?usp=sharing

In [ ]:
# We'll read the data from the CSV file and create the dataframe to be used
# 
df = pd.read_csv('Autolib_Dataset.csv',  index_col=0, encoding='utf-8')
df.head

<bound method NDFrame.head of                                     Cars  Bluecar counter  ...  hour  minute
Address                                                    ...
2 Avenue de Suffren                    0                0  ...    11      43
145 Rue Raymond Losserand              6                6  ...     7      24
2 Avenue John Fitzgerald Kennedy       3                3  ...    20      14
51 Rue EugÃ¨ne OudinÃ©                 3                3  ...     4      37
6 avenue de la Porte de Champerret     3                3  ...    17      23
...                                  ...              ...  ...   ...     ...
8 avenue MÃ©nelotte                    2                2  ...    11      26
37 rue de Dantzig                      4                4  ...    16      56
142 rue du Bac                         1                1  ...     7       1
2 avenue du Val de Fontenay            2                2  ...    17      27
5 Rue Henry Brisson                    4                4  ...    10       2

[5000 rows x 24 columns]>

## 1.2 Previewing our Dataset

In [ ]:
# Preview the first 10 rows of our data
# 
df.head(10)

                                    Cars  Bluecar counter  ...  hour  minute
Address                                                    ...
2 Avenue de Suffren                    0                0  ...    11      43
145 Rue Raymond Losserand              6                6  ...     7      24
2 Avenue John Fitzgerald Kennedy       3                3  ...    20      14
51 Rue EugÃ¨ne OudinÃ©                 3                3  ...     4      37
6 avenue de la Porte de Champerret     3                3  ...    17      23
8 Boulevard Voltaire                   0                0  ...     7       2
37 rue Leblanc                         0                0  ...    18      20
17 Rue des Luaps ProlongÃ©e            3                3  ...    22      13
34 avenue Jean Moulin                  1                1  ...    22      58
41 boulevard de Rochechouart           6                6  ...    15       2

[10 rows x 24 columns]

## 1.3 Accessing Information About out Dataset

In [ ]:
# Getting to know more about the dataset by accessing its information
# 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 2 Avenue de Suffren to 5 Rue Henry Brisson
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cars                 5000 non-null   int64
 1   Bluecar counter      5000 non-null   int64
 2   Utilib counter       5000 non-null   int64
 3   Utilib 1.4 counter   5000 non-null   int64
 4   Charge Slots         5000 non-null   int64
 5   Charging Status      5000 non-null   object
 6   City                 5000 non-null   object
 7   Displayed comment    111 non-null    object
 8   ID                   5000 non-null   object
 9   Kind                 5000 non-null   object
 10  Geo point            5000 non-null   object
 11  Postal code          5000 non-null   int64
 12  Public name          5000 non-null   object
 13  Rental status        5000 non-null   object
 14  Scheduled at         47 non-null     object
 15  Slots                5000 non-null   int64
 16  Station type         5000 non-null   object
 17  Status               5000 non-null   object
 18  Subscription status  5000 non-null   object
 19  year                 5000 non-null   int64
 20  month                5000 non-null   int64
 21  day                  5000 non-null   int64
 22  hour                 5000 non-null   int64
 23  minute               5000 non-null   int64
dtypes: int64(12), object(12)
memory usage: 976.6+ KB

## 1.4 Cleaning our Dataset
## We'll perform several data cleaning procedures

### 1.41 Validity

In [ ]:
# drop the displayed comment & scheduled at columns

df = df.drop(['Displayed comment', 'Scheduled at', 'Cars'], axis=1)
df

                                    Bluecar counter  ...  minute
Address                                              ...
2 Avenue de Suffren                               0  ...      43
145 Rue Raymond Losserand                         6  ...      24
2 Avenue John Fitzgerald Kennedy                  3  ...      14
51 Rue EugÃ¨ne OudinÃ©                            3  ...      37
6 avenue de la Porte de Champerret                3  ...      23
...                                             ...  ...     ...
8 avenue MÃ©nelotte                               2  ...      26
37 rue de Dantzig                                 4  ...      56
142 rue du Bac                                    1  ...       1
2 avenue du Val de Fontenay                       2  ...      27
5 Rue Henry Brisson                               4  ...       2

[5000 rows x 21 columns]

### 1.42 Accuracy

### 1.43 Completeness

In [ ]:
# To check for any missing data
df.isnull().values.any()

# To check for missing dats across the columns
df.isnull().sum()

Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

### 1.44 Consistency

In [ ]:
# check and drop any duplicates in our dataset
#

df = df.drop_duplicates()
df.head()

                                    Bluecar counter  ...  minute
Address                                              ...
2 Avenue de Suffren                               0  ...      43
145 Rue Raymond Losserand                         6  ...      24
2 Avenue John Fitzgerald Kennedy                  3  ...      14
51 Rue EugÃ¨ne OudinÃ©                            3  ...      37
6 avenue de la Porte de Champerret                3  ...      23

[5 rows x 21 columns]

### 1.45 Uniformity

In [ ]:
# data type conversion of the year, month and day columns
# 

y=["year","month","day"]
df['Date'] = df[y].apply(lambda x: '-'.join(x.values.astype(str)), axis=1)
df.head()

                                    Bluecar counter  ...      Date
Address                                              ...
2 Avenue de Suffren                               0  ...  2018-4-8
145 Rue Raymond Losserand                         6  ...  2018-4-6
2 Avenue John Fitzgerald Kennedy                  3  ...  2018-4-3
51 Rue EugÃ¨ne OudinÃ©                            3  ...  2018-4-4
6 avenue de la Porte de Champerret                3  ...  2018-4-8

[5 rows x 22 columns]

In [ ]:
# Importing datetime module

from datetime import datetime

# convert the date and time columns to date object
df['Date'] = pd.to_datetime(df['Date'])
df.head()

                                    Bluecar counter  ...       Date
Address                                              ...
2 Avenue de Suffren                               0  ... 2018-04-08
145 Rue Raymond Losserand                         6  ... 2018-04-06
2 Avenue John Fitzgerald Kennedy                  3  ... 2018-04-03
51 Rue EugÃ¨ne OudinÃ©                            3  ... 2018-04-04
6 avenue de la Porte de Champerret                3  ... 2018-04-08

[5 rows x 22 columns]

In [ ]:
# Create and convert Time column to date object
# 

# df['Time'] = (pd.to_datetime(df['hour'].astype(str) + ':' + df['minute'].astype(str), format='%H:%M').dt.time)

In [ ]:
# check info of our cleaned data
# 
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 2 Avenue de Suffren to 5 Rue Henry Brisson
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bluecar counter      5000 non-null   int64
 1   Utilib counter       5000 non-null   int64
 2   Utilib 1.4 counter   5000 non-null   int64
 3   Charge Slots         5000 non-null   int64
 4   Charging Status      5000 non-null   object
 5   City                 5000 non-null   object
 6   ID                   5000 non-null   object
 7   Kind                 5000 non-null   object
 8   Geo point            5000 non-null   object
 9   Postal code          5000 non-null   int64
 10  Public name          5000 non-null   object
 11  Rental status        5000 non-null   object
 12  Slots                5000 non-null   int64
 13  Station type         5000 non-null   object
 14  Status               5000 non-null   object
 15  Subscription status  5000 non-null   object
 16  year                 5000 non-null   int64
 17  month                5000 non-null   int64
 18  day                  5000 non-null   int64
 19  hour                 5000 non-null   int64
 20  minute               5000 non-null   int64
 21  Date                 5000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(11), object(10)
memory usage: 898.4+ KB

In [ ]:
# edit column names
# 
df.columns = df.columns.str.strip().str.replace(' ', '_')
df.head()

                                    Bluecar_counter  ...       Date
Address                                              ...
2 Avenue de Suffren                               0  ... 2018-04-08
145 Rue Raymond Losserand                         6  ... 2018-04-06
2 Avenue John Fitzgerald Kennedy                  3  ... 2018-04-03
51 Rue EugÃ¨ne OudinÃ©                            3  ... 2018-04-04
6 avenue de la Porte de Champerret                3  ... 2018-04-08

[5 rows x 22 columns]

In [ ]:
# delete the year, month, day, hour and minute columns

clean_df = df.drop(['year', 'month', 'day', 'minute'], axis=1)
clean_df.head()

                                    Bluecar_counter  ...       Date
Address                                              ...
2 Avenue de Suffren                               0  ... 2018-04-08
145 Rue Raymond Losserand                         6  ... 2018-04-06
2 Avenue John Fitzgerald Kennedy                  3  ... 2018-04-03
51 Rue EugÃ¨ne OudinÃ©                            3  ... 2018-04-04
6 avenue de la Porte de Champerret                3  ... 2018-04-08

[5 rows x 18 columns]

In [ ]:
# Creating usage columns
# we then compute usage for the bluecar and create a column for it
# 

clean_df['Bluecar_usage'] = clean_df.Bluecar_counter.diff()

clean_df.head()

                                    Bluecar_counter  ...  Bluecar_usage
Address                                              ...
2 Avenue de Suffren                               0  ...            NaN
145 Rue Raymond Losserand                         6  ...            6.0
2 Avenue John Fitzgerald Kennedy                  3  ...           -3.0
51 Rue EugÃ¨ne OudinÃ©                            3  ...            0.0
6 avenue de la Porte de Champerret                3  ...            0.0

[5 rows x 19 columns]

In [ ]:
#we also compute usage for the Utilib_counter and create a column for it
# 

clean_df['Utilib_usage'] = clean_df.Utilib_counter.diff()

clean_df.head()

                                    Bluecar_counter  ...  Utilib_usage
Address                                              ...
2 Avenue de Suffren                               0  ...           NaN
145 Rue Raymond Losserand                         6  ...           0.0
2 Avenue John Fitzgerald Kennedy                  3  ...           0.0
51 Rue EugÃ¨ne OudinÃ©                            3  ...           1.0
6 avenue de la Porte de Champerret                3  ...          -1.0

[5 rows x 20 columns]

In [ ]:
#we also compute usage for the Utilib_1.4_counter and create a column for it
# 

clean_df['Utilib_1.4_usage'] = clean_df['Utilib_1.4_counter'].diff()

clean_df.head()

                                    Bluecar_counter  ...  Utilib_1.4_usage
Address                                              ...
2 Avenue de Suffren                               0  ...               NaN
145 Rue Raymond Losserand                         6  ...               0.0
2 Avenue John Fitzgerald Kennedy                  3  ...               2.0
51 Rue EugÃ¨ne OudinÃ©                            3  ...              -2.0
6 avenue de la Porte de Champerret                3  ...               0.0

[5 rows x 21 columns]

In [ ]:
# get clean data info
# 
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5000 entries, 2 Avenue de Suffren to 5 Rue Henry Brisson
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Bluecar_counter      5000 non-null   int64
 1   Utilib_counter       5000 non-null   int64
 2   Utilib_1.4_counter   5000 non-null   int64
 3   Charge_Slots         5000 non-null   int64
 4   Charging_Status      5000 non-null   object
 5   City                 5000 non-null   object
 6   ID                   5000 non-null   object
 7   Kind                 5000 non-null   object
 8   Geo_point            5000 non-null   object
 9   Postal_code          5000 non-null   int64
 10  Public_name          5000 non-null   object
 11  Rental_status        5000 non-null   object
 12  Slots                5000 non-null   int64
 13  Station_type         5000 non-null   object
 14  Status               5000 non-null   object
 15  Subscription_status  5000 non-null   object
 16  hour                 5000 non-null   int64
 17  Date                 5000 non-null   datetime64[ns]
 18  Bluecar_usage        4999 non-null   float64
 19  Utilib_usage         4999 non-null   float64
 20  Utilib_1.4_usage     4999 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(7), object(10)
memory usage: 859.4+ KB

### Exporting the Cleaned Data

In [ ]:
# we then export our cleaned dataframe to a CSV file
# 

clean_df.to_csv('clean_df.csv')
clean_df.head()

                                    Bluecar_counter  ...  Utilib_1.4_usage
Address                                              ...
2 Avenue de Suffren                               0  ...               NaN
145 Rue Raymond Losserand                         6  ...               0.0
2 Avenue John Fitzgerald Kennedy                  3  ...               2.0
51 Rue EugÃ¨ne OudinÃ©                            3  ...              -2.0
6 avenue de la Porte de Champerret                3  ...               0.0

[5 rows x 21 columns]

## 1.5 Data Analysis

### Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
# To review the Usage
clean_df['Bluecar_usage'].unique()

# 0 indicates nothing happenned with the cars
# +ve numbers show the cars were returned
# +ve numbers show the cars were picked

array([nan,  6., -3.,  0.,  3., -2.,  5., -6.,  1.,  4., -5., -1.,  2.,
       -4.,  7., -7.])

In [ ]:
# 

clean_df[(clean_df['Bluecar_usage']<0) & (clean_df['City']=='Paris')].groupby('hour')[['Bluecar_usage']].sum().sort_values(by= 'Bluecar_usage', ascending=True).head()

      Bluecar_usage
hour
21           -231.0
7            -196.0
20           -193.0
5            -190.0
16           -172.0

In [ ]:
# to get the most popular hour of the day for picking up a shared electric car

e = clean_df[(clean_df['Bluecar_usage']<0) & (clean_df['City']=='Paris')]
e.groupby(['hour'])[['Bluecar_usage']].sum().sort_values(by= 'Bluecar_usage', ascending=True).head()

      Bluecar_usage
hour
21           -231.0
7            -196.0
20           -193.0
5            -190.0
16           -172.0

### What is the most popular hour for returning cars?

In [ ]:
# METHOD 1
# To get the number of entries/records per hour grouping
#  popular hour for returning cars

clean_df[clean_df['Bluecar_usage']>0].value_counts('hour').sort_values(ascending= False).head()

hour
6     101
11     98
2      98
3      98
12     95
dtype: int64

In [ ]:
# METHOD 2
# to get the total number of cars returned
# Most popular hour for returning cars
# 

clean_df[clean_df['Bluecar_usage']>0].groupby('hour')[['Bluecar_usage']].sum().sort_values(by= 'Bluecar_usage', ascending= False).head()

      Bluecar_usage
hour
6             313.0
5             287.0
12            279.0
2             276.0
3             269.0

### What station is the most popular? Overall? At the most popular picking hour?

In [ ]:
# most popular station overall
# 

clean_df[(clean_df['Bluecar_usage']<0) & (clean_df['Kind']=='STATION')].groupby('Public_name')['Public_name'].count().sort_values(ascending= False).head(5)

Public_name
Paris/Bernardins/23    7
Paris/Voltaire/182     7
Paris/Madame/18        7
Paris/Tronchet/19      6
Paris/Bac/142          6
Name: Public_name, dtype: int64

In [ ]:
# METHOD 1:Most popular hour
  # most popular picking hour by number of records/entries per hour grouping
  # 

clean_df[clean_df['Bluecar_usage']<0].value_counts('hour').sort_values(ascending=False).head()

hour
21    113
16    107
19    104
9      97
13     95
dtype: int64

In [ ]:
# METHOD 2: Most popular hour
# most popular picking hour by number of cars


clean_df[clean_df['Bluecar_usage']<0].groupby('hour') [['Bluecar_usage']].sum().sort_values(by= 'Bluecar_usage', ascending=True).head()

      Bluecar_usage
hour
21           -318.0
19           -302.0
16           -272.0
5            -262.0
7            -258.0

In [ ]:
# most popular station at the most popular picking hour
# 

clean_df[(clean_df['Bluecar_usage']<0) & (clean_df['hour']==21) & (clean_df['Kind']=='STATION')].value_counts('Public_name').sort_values(ascending= False).head(5)

Public_name
Paris/Tronchet/19                     4
Paris/Voltaire/182                    3
Paris/Flandre/61                      2
ChÃ¢tenay-Malabry/Jean JaurÃ¨s/280    2
Paris/HÃ´pital/47                     2
dtype: int64

### What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code? Overall? At the most popular picking hour?

In [ ]:
# most popular postal code overall

clean_df[clean_df['Bluecar_usage']< 0].groupby('Postal_code')[['Bluecar_usage']].sum().sort_values(by= 'Bluecar_usage', ascending= True).head(5)

             Bluecar_usage
Postal_code
75008               -314.0
75015               -290.0
75012               -280.0
75017               -249.0
75016               -226.0

In [ ]:
# Does the most popular station belong to that postal code

clean_df[clean_df['Public_name']=='Paris/Bernardins/23'].head(1)

# answer: no it does not

                       Bluecar_counter  ...  Utilib_1.4_usage
Address                                 ...
23 rue des Bernardins                0  ...               0.0

[1 rows x 21 columns]

In [ ]:
# most popular postal code at the most popular picking hour

clean_df[(clean_df['Bluecar_usage']< 0) & (clean_df['hour']==21)].value_counts('Postal_code').sort_values(ascending= False).head(1)

Postal_code
75008    9
dtype: int64

## 1.6 Data Analysis: Utilib & Utilib 1.4

### Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

In [ ]:
# To review the Utilib Usage
clean_df['Utilib_usage'].unique()

# 0 indicates nothing happenned with the cars
# +ve numbers show the cars were returned
# +ve numbers show the cars were picked

array([nan,  0.,  1., -1.,  2., -2.])

In [ ]:
# To review the Utilib Usage
clean_df['Utilib_1.4_usage'].unique()

# 0 indicates nothing happenned with the cars
# +ve numbers show the cars were returned
# +ve numbers show the cars were picked

array([nan,  0.,  2., -2.,  1., -1.,  3., -3.])

In [ ]:
# to get the most popular hour of the day for picking up a utilib

clean_df[(clean_df['Utilib_usage']<0) & (clean_df['City']=='Paris')].value_counts('hour').sort_values(ascending=False).head()

hour
19    12
23    10
22    10
14    10
6      9
dtype: int64

In [ ]:
# to get the most popular hour of the day for picking up a utilib 1.4
# 
clean_df[(clean_df['Utilib_1.4_usage']<0) & (clean_df['City']=='Paris')].value_counts('hour').sort_values(ascending=False).head()

hour
3     20
4     17
0     16
19    16
8     16
dtype: int64

In [ ]:
# clean_df[(clean_df['Utilib_1.4_usage']<0) & (clean_df['City']=='Paris')].groupby('hour')['hour'].sum().sort_values(ascending=False).head()

### Most popular hour for returning the utilib & utilib 1.4

In [ ]:
# popular hour for returning utilib
# 

clean_df[clean_df['Utilib_usage']>0].value_counts('hour').sort_values(ascending= False).head()

hour
5    17
7    16
8    16
1    14
3    14
dtype: int64

In [ ]:
# popular hour for returning utilib 1.4
# 

clean_df[clean_df['Utilib_1.4_usage']>0].value_counts('hour').sort_values(ascending= False).head()

hour
3     30
6     27
9     27
5     26
22    26
dtype: int64

### What station is the most popular? Overall? At the most popular picking hour?

In [ ]:
# popular station overall for the utilib

# most popular station overall

clean_df[(clean_df['Utilib_usage']<0) & (clean_df['Kind']=='STATION')].groupby('Public_name')['Public_name'].count().sort_values(ascending= False).head(5)

Public_name
Villeneuve-la-Garenne/Verdun/30     2
Paris/Adolphe Yvon/6                2
Issy-les-Moulineaux/Garibaldi/18    2
Paris/Saint-Germain/188             2
Paris/Quatre septembre/10           2
Name: Public_name, dtype: int64

In [ ]:
# popular station overall for the utilib 1.4

# most popular station overall

clean_df[(clean_df['Utilib_1.4_usage']<0) & (clean_df['Kind']=='STATION')].groupby('Public_name')['Public_name'].count().sort_values(ascending= False).head(5)

Public_name
Issy-les-Moulineaux/Gallieni/59    3
Paris/Richard Lenoir/110           3
Paris/Paix/24                      3
Paris/Lagny/117                    3
Drancy/LatÃ©ral/20                 3
Name: Public_name, dtype: int64

In [ ]:
# to get the most popular hour of the day overall for picking up a utilib
# 

clean_df[clean_df['Utilib_usage']<0].value_counts('hour').sort_values(ascending=False).head()

hour
6     17
14    16
11    15
2     15
19    15
dtype: int64

In [ ]:
# most popular station at the most popular picking hour for utilib
# 

clean_df[(clean_df['Utilib_usage']<0) & (clean_df['hour']==6) & (clean_df['Kind']=='STATION')].value_counts('Public_name').sort_values(ascending= False).head(5)

Public_name
Cachan/FranÃ§ois Delage/22      1
Drancy/Marcelin Berthelot/73    1
Montreuil/GalilÃ©e/29           1
Nanterre/Hoche/1                1
Nanterre/MarÃ©chal Joffre/28    1
dtype: int64

In [ ]:
# to get the most popular hour of the day overall for picking up a utilib 1.4
# 

clean_df[clean_df['Utilib_1.4_usage']<0].value_counts('hour').sort_values(ascending=False).head()

hour
4     27
11    26
20    26
3     26
10    25
dtype: int64

In [ ]:
# most popular station at the most popular picking hour for utilib 1.4
# 

clean_df[(clean_df['Utilib_1.4_usage']<0) & (clean_df['hour']==4) & (clean_df['Kind']=='STATION')].value_counts('Public_name').sort_values(ascending= False).head(5)

Public_name
Champigny-sur-Marne/Danielle Casanova/22    1
Paris/Faubourg-Saint-Martin/242             1
Paris/Francois 1er/7                        1
Colombes/MÃ©nelotte/8                       1
CrÃ©teil/Denfert Rochereau/12               1
dtype: int64

### What postal code is the most popular for picking up utilib Does the most popular station belong to that postal code? Overall? At the most popular picking hour?

In [ ]:
# most popular postal code overall for utilib
# 

clean_df[clean_df['Utilib_usage']< 0].value_counts('Postal_code').sort_values(ascending= False).head(5)

Postal_code
75015    22
75016    15
75017    15
75020    12
75019    10
dtype: int64

In [ ]:
# most popular postal code overall for utilib 1.4
# 

clean_df[clean_df['Utilib_1.4_usage']< 0].value_counts('Postal_code').sort_values(ascending= False).head(5)

Postal_code
75015    35
75016    24
75012    23
75017    22
75020    20
dtype: int64

In [ ]:
# most popular postal code for utilib at the most popular picking hour
# 

clean_df[(clean_df['Utilib_usage']< 0) & (clean_df['hour']==6)].value_counts('Postal_code').sort_values(ascending= False).head(1)

Postal_code
75016    3
dtype: int64

In [ ]:
# most popular postal code for utilib1.4 at the most popular picking hour

clean_df[(clean_df['Utilib_1.4_usage']< 0) & (clean_df['hour']==4)].value_counts('Postal_code').sort_values(ascending= False).head(1)

Postal_code
75018    2
dtype: int64